body {
  background-color: whitesmoke;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  font-size: x-large;
}
aside {
  display: flex;
  flex-direction: column;
  margin: 0px 15px 0px 10px;
}
aside a {
  margin: 10px 0px 0px 10px;
}
aside img {
  margin: 0;
}
img {
  height: 50px;
  display: inline;
  vertical-align: middle;
  margin: 10px 0px 10px 10px;
}
img.profile {
  border-radius: 90px;
  width: 100px;
  height: 100px;
}
h1#name {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0px 0px 5px;
}
main {
  display: flex;
  width: 1200px;
  margin: auto;
}
div.banner {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 10px 10px;
  background-color: cornflowerblue;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 10px;
}
div.banner a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  display: contents;
}
div.banner a:hover {
  color: lemonchiffon;
}
a {
  text-decoration: none;
  color: oklch(22.93% 0.0423 235.55);
}
a:hover {
  color: oklch(55.93% 0.0423 235.55);
}
h1,
h6,
ul {
  text-align: left;
}
ul.logos {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media only screen and (max-width: 1400px) {
  main {
    position: sticky;
    max-width: 1200px;
    min-width: 600px;
    width: auto;
  }
}
